### Name :  VIRAJ J RAUT
### Roll No : 2131071
### Lab : DSBDA Lab
### Assignment 1 


#### Perform the following operations using python on any dataset: 
#### 1) import all required libraries 
#### 2) Locate an open source data from web, provide a clear description of the data and its source 
#### 3) Load the dataset into pandas data frame
#### 4) Apply data preprocessing: describe() to get some statistics, provide variable descriptions, provide the dimensions of the data frame
#### 5) Data formatting and data Normalizations: Summarize the type of variables by checking data types. If variables are not in the correct type apply proper type  conversions.
#### 6) Turn categorical variables into quantitative variables in python.

## Importing all required libraries

In [1]:
import requests
import pandas as pd

In [2]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
r = requests.get(data_url)
df= pd.read_csv(data_url)
print(df)

     1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29   5.64  1.04  \
0    1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
1    1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
2    1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
3    1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
4    1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97   6.75  1.05
..  ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
172  3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
173  3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
174  3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
175  3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
176  3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

     3.92  1065
0    3.40  1050
1    3.17  1185
2    3.45  1480
3    2.93   735
4    2.85  1450
..    ...   ...
172  1.74   740
173  1.56   750
174  1.56   835
175  1.62   840
176  1.60   560

[177 rows x 14 columns]

#### These Dataset are the results of a chemical analysis of wines grown in the same region in Italy but derived from three different cultivars. The analysis determined the quantities of 14 constituents found in each of the three types of wines. Dataset contains 177 rows and 14 columns.

In [3]:
df.columns={"Flavanoids","Alcohol","Malic acid","Ash","Alcalinity of ash","Magnesium","Total phenols","Class","Nonflavanoid phenols","Proanthocyanins","Color intensity",
            "Hue","OD280/OD315 of diluted wines","Proline"}
df

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Checking first five records of dataset

In [4]:
df.head()

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Checking last five records of dataset

In [5]:
df.tail()

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Alcohol                       177 non-null    int64
 1   Alcalinity of ash             177 non-null    float64
 2   Flavanoids                    177 non-null    float64
 3   Proanthocyanins               177 non-null    float64
 4   OD280/OD315 of diluted wines  177 non-null    float64
 5   Hue                           177 non-null    int64
 6   Magnesium                     177 non-null    float64
 7   Color intensity               177 non-null    float64
 8   Total phenols                 177 non-null    float64
 9   Malic acid                    177 non-null    float64
 10  Ash                           177 non-null    float64
 11  Nonflavanoid phenols          177 non-null    float64
 12  Proline                       177 non-null    float64
 13  Class                         177 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

#### We can see here information about a DataFrame including the index dtype and columns, non-null values and memory usage

### Checking dimensionality of the DataFrame.

In [7]:
df.shape

(177, 14)

### Checking number of axes / array dimensions.

In [8]:
df.ndim

2

### Statistical summary of all attributes

In [9]:
df.describe()

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,1.943503,12.993672,2.339887,2.366158,19.516949,99.587571,2.292260,2.023446,0.362316,1.586949,5.054802,0.956983,2.604294,745.096045
std,0.773991,0.808808,1.119314,0.275080,3.336071,14.174018,0.626465,0.998658,0.124653,0.571545,2.324446,0.229135,0.705103,314.884046
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.360000,1.600000,2.210000,17.200000,88.000000,1.740000,1.200000,0.270000,1.250000,3.210000,0.780000,1.930000,500.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.350000,2.130000,0.340000,1.550000,4.680000,0.960000,2.780000,672.000000
75%,3.000000,13.670000,3.100000,2.560000,21.500000,107.000000,2.800000,2.860000,0.440000,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

#### We can see here description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column count, mean, std, min, 25%, 50%, 75% and  max

 ### Statistical summary of the Ash attribute

In [10]:
df["Ash"].describe()

count    177.000000
mean       5.054802
std        2.324446
min        1.280000
25%        3.210000
50%        4.680000
75%        6.200000
max       13.000000
Name: Ash, dtype: float64

### Statistical summary of the Color intensity attribute

In [11]:
df["Color intensity"].describe()

count    177.000000
mean       2.023446
std        0.998658
min        0.340000
25%        1.200000
50%        2.130000
75%        2.860000
max        5.080000
Name: Color intensity, dtype: float64

### Access group of values using labels.

In [12]:
df.loc[48]

Alcohol                            1.00
Alcalinity of ash                 13.94
Flavanoids                         1.73
Proanthocyanins                    2.27
OD280/OD315 of diluted wines      17.40
Hue                              108.00
Magnesium                          2.88
Color intensity                    3.54
Total phenols                      0.32
Malic acid                         2.08
Ash                                8.90
Nonflavanoid phenols               1.12
Proline                            3.10
Class                           1260.00
Name: 48, dtype: float64

#### We can see here information about record number 48

### Access group of values by index number.

In [13]:
df.iloc[10]

Alcohol                            1.00
Alcalinity of ash                 14.12
Flavanoids                         1.48
Proanthocyanins                    2.32
OD280/OD315 of diluted wines      16.80
Hue                               95.00
Magnesium                          2.20
Color intensity                    2.43
Total phenols                      0.26
Malic acid                         1.57
Ash                                5.00
Nonflavanoid phenols               1.17
Proline                            2.82
Class                           1280.00
Name: 10, dtype: float64

#### We can see here information about record which is at index 10

### Checking missing values

In [14]:
df.isnull()

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,False,False,False,False,False,False,False,False,False,False,False,False,False,False
173,False,False,False,False,False,False,False,False,False,False,False,False,False,False
174,False,False,False,False,False,False,False,False,False,False,False,False,False,False
175,False,False,False,False,False,False,False,False,False,False,False,False,False,False
176,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

Alcohol                         0
Alcalinity of ash               0
Flavanoids                      0
Proanthocyanins                 0
OD280/OD315 of diluted wines    0
Hue                             0
Magnesium                       0
Color intensity                 0
Total phenols                   0
Malic acid                      0
Ash                             0
Nonflavanoid phenols            0
Proline                         0
Class                           0
dtype: int64

#### We can see here no any missing value in the dataset

### Checking existing (non-missing) values

In [16]:
df.notnull()

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,True,True,True,True,True,True,True,True,True,True,True,True,True,True
173,True,True,True,True,True,True,True,True,True,True,True,True,True,True
174,True,True,True,True,True,True,True,True,True,True,True,True,True,True
175,True,True,True,True,True,True,True,True,True,True,True,True,True,True
176,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [17]:
df.notnull().sum()

Alcohol                         177
Alcalinity of ash               177
Flavanoids                      177
Proanthocyanins                 177
OD280/OD315 of diluted wines    177
Hue                             177
Magnesium                       177
Color intensity                 177
Total phenols                   177
Malic acid                      177
Ash                             177
Nonflavanoid phenols            177
Proline                         177
Class                           177
dtype: int64

#### We can see here all the attributes completely filled , that means no any missing value in dataset

### Checking type of dataframe

In [18]:
type(df)

pandas.core.frame.DataFrame

### Checking datatype of perticular attribute

In [19]:
df['Hue'].dtype

dtype('int64')

### Checking datatype of all attributes

In [20]:
df.dtypes

Alcohol                           int64
Alcalinity of ash               float64
Flavanoids                      float64
Proanthocyanins                 float64
OD280/OD315 of diluted wines    float64
Hue                               int64
Magnesium                       float64
Color intensity                 float64
Total phenols                   float64
Malic acid                      float64
Ash                             float64
Nonflavanoid phenols            float64
Proline                         float64
Class                             int64
dtype: object

#### In this dataset OD280/OD315 of diluted wines, Proline, Alcalinity of ash  only this attributes having datatype int and others having datatype float

### Type Conversion

In [21]:
df['Magnesium']=df['Magnesium'].astype('int')
df

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,1,13.20,1.78,2.14,11.2,100,2,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2,0.76,0.56,1.35,9.20,0.61,1.60,560

#### In this dataset values of Magnesium attribute having datatype float ..... So Using astype() we convert that float values in integer value

In [22]:
df['Proanthocyanins']=df['Proanthocyanins'].astype('float')
df

,Alcohol,Alcalinity of ash,Flavanoids,Proanthocyanins,OD280/OD315 of diluted wines,Hue,Magnesium,Color intensity,Total phenols,Malic acid,Ash,Nonflavanoid phenols,Proline,Class
0,1,13.20,1.78,2.14,11.2,100,2,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2,0.76,0.56,1.35,9.20,0.61,1.60,560

#### In this dataset values of Proanthocyanins attribute having datatype integer ..... So Using astype() we convert that int values in float value

### Converting categorical variables into quantitative variables

In [23]:
dictionary = {'OUTLOOK': ['Rainy', 'Rainy',
                          'Overcast', 'Sunny',
                          'Sunny', 'Sunny',
                          'Overcast', 'Rainy',
                          'Rainy', 'Sunny',
                          'Rainy', 'Overcast',
                          'Overcast', 'Sunny'],
              'TEMPERATURE': ['Hot', 'Hot', 'Hot',
                              'Mild', 'Cool',
                              'Cool', 'Cool',
                              'Mild', 'Cool',
                              'Mild', 'Mild',
                              'Mild', 'Hot', 'Mild']}
  
# converting the dictionary to DataFrame
df2 = pd.DataFrame(dictionary)
display(df2)

     OUTLOOK TEMPERATURE
0      Rainy         Hot
1      Rainy         Hot
2   Overcast         Hot
3      Sunny        Mild
4      Sunny        Cool
5      Sunny        Cool
6   Overcast        Cool
7      Rainy        Mild
8      Rainy        Cool
9      Sunny        Mild
10     Rainy        Mild
11  Overcast        Mild
12  Overcast         Hot
13     Sunny        Mild

In [24]:
pd.get_dummies(df2['TEMPERATURE'])

    Cool  Hot  Mild
0      0    1     0
1      0    1     0
2      0    1     0
3      0    0     1
4      1    0     0
5      1    0     0
6      1    0     0
7      0    0     1
8      1    0     0
9      0    0     1
10     0    0     1
11     0    0     1
12     0    1     0
13     0    0     1

#### Dummy Variables act as indicators of the presence or absence of a category in a Categorical Variable. 0 represents absence while 1 represents presence.

### Count of values

In [25]:
print(df2['TEMPERATURE'].value_counts())

Mild    6
Hot     4
Cool    4
Name: TEMPERATURE, dtype: int64